/*-- scss:defaults --*/

@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  src: url('assets/fonts/Raleway-SemiBold.woff2') format('woff2'),
       url('assets/fonts/Raleway-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  src: url('assets/fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
       url('assets/fonts/Raleway-SemiBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  src: url('assets/fonts/Raleway-Medium.woff2') format('woff2'),
       url('assets/fonts/Raleway-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/Raleway-MediumItalic.woff2') format('woff2'),
       url('assets/fonts/Raleway-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 200;
  src: url('assets/fonts/Raleway-ExtraLight.woff2') format('woff2'),
       url('assets/fonts/Raleway-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 200;
  src: url('assets/fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
       url('assets/fonts/Raleway-ExtraLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 400;
  src: url('assets/fonts/SourceCodePro-Medium.woff2') format('woff2'),
       url('assets/fonts/SourceCodePro-Medium.woff') format('woff');
}

$font-family-sans-serif: 'Raleway', sans-serif;
$font-family-monospace: 'Source Code Pro', monospace;

$theme-purple: #854ac8;
$theme-green: #1EAF98;
$theme-darkgreen: #01836e;

$font-size-root: 20px;
$link-color: $theme-purple;

/*-- scss:rules --*/

h1,
h2 {
  color: $theme-darkgreen;
}

.sidebar-title>a {
  font-size: 22px;
}

.sidebar-header {
  align-self: center;
}

.sidebar-navigation li a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bi-arrows-collapse::before,
.bi-arrows-expand::before,
.bi-dice-6::before {
  color: rgb(52, 58, 64);
}
